
<div class="background">
    <br>    
    <h1>Nice One Dad</h1>
        <br>
        <div class="jokeToPresent" [attr.snerk]="currentJoke.question">{{currentJoke.question}}</div>
        <br>
        <div #answerToPresent class="answerToPresent">{{currentJoke.answer}}</div>
        
    <div class="image">
        <img src="../../../assets/trump.gif">
    </div>

        <button class="button" (click)="setNewJoke()">
                Hit me with a new joke !
        </button>
    </div>
        <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet"> 
        
  
  
  
  
  
  
  <!-- <head>
    <h1>Nice One Dad</h1>
    <link href="https://fonts.googleapis.com/css?family=Barriecito|Gloria+Hallelujah|Lacquer|Permanent+Marker|Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="background-box">

        <div class="loader"></div>
        <div id="one-div"></div>
        <p></p>
        <button class="my-button" onclick="ClickHandler()">Hit me with a joke!</button>
        <img src="trump.gif">
<div style="background:url(trump.gif) no-repeat center center;width:32px;height:32px;"></div>
        <p>

        </div>
</body> -->
